
{% extends "planta/base.html" %}
{%load static%}

{%block titulo%}listado de trabajadores{%endblock%}
{%block subtitulo%}trabajadores{%endblock%}


{%block contenedor%}
<h1>trabajador</h1>
<a class="btn btn-warning" href="{% url 'planta:aggTrabajador'%}">Agregar</a>

{% if messages %}

    {% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }} {%else%}dark{%endif%}" role="alert">{{message}}</div>
    {% endfor %}


{% endif %}

{% if datos %}

    <table width="50%" border="1" class="table table-striped">

        <thead>
            <tr>
                <th>Id</th>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
        {% for t in datos%}
        <tr>
            <td>{{t.id}}</td>
            <td>{{t.cedula}}</td>
            <td>{{t.nombre}}</td>
            <td>{{t.apellido}}</td>
            <td>{{t.correo}}</td>
        </tr>
        
        {%endfor%}
        </tbody>

    </table>

{%else%}
Error
{% endif %}

{%endblock%}


</body>