<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>suma</title>
</head>
<body>
    <form action="{% url 'planta:suma' %}" method="post"> Suma
        {% csrf_token %}
        <label for="number">Numero 1</label>
        <input type="text" name="numero1">

        <label for="number">Numero 2</label>
        <input type="text" name="numero2">

        <button type="submit"> Enviar</button>

    </form>
</body>
</html>